<%= form_for @game, :html => {:class => 'form-inline'} do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label "Number of Players" %><br>
    <%= f.text_field :numPlay %>
  </div>

  <br><br>
  
  <%= f.fields_for :rounds do |ff| %>
    <div class="field inline">
      
      <%= ff.collection_select(:player_id, Player.all(:order => 'nickname'), :id, :nickname, { :prompt => 'Select Player' } ) %>
    </div>
    <div class="field inline">
      
      <%= ff.text_field :score, :placeholder=>"Score" %>
    </div>
    <div class="form-group inline">
      
      <%= ff.text_field :place, :placeholder=>"Place" %>
    </div>
    <div class="field inline">
      
      <%= ff.text_field :correct, :placeholder=>"Correct" %>
    </div>
    <div class="field inline">
      
      <%= ff.text_field :asterisk, :placeholder=>"*" %>
    </div>
    <br><br>
  <%end%>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

