<%= form_for @game, :html => {:class => 'form-inline'} do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.hidden_field :numPlay, :value=>@game.numPlay %>
  </div>

  <br><br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Place</th>
        <th>Name</th>
        <th>Score</th>        
        <th>Correct</th>
        <th>*</th>
      </tr>
    </thead>

    <% player_count = 0 %>
    <%= f.fields_for :rounds do |ff| %>
      <% player_count = player_count + 1 %>
      <tr>
        <td>      
          <%= player_count %>
          <%= ff.hidden_field :place, :placeholder=>"Place", :value=>player_count %>
        </td>
        <td>      
          <%= ff.collection_select(:player_id, Player.all(:order => 'nickname'), :id, :nickname, { :prompt => 'Select Player' } ) %>
        </td>
        <td>      
          <%= ff.text_field :score, :placeholder=>"Score", class: "form-control" %>
        </td>

        <td>      
          <%= ff.text_field :correct, :placeholder=>"Correct", class: "form-control" %>
        </td>
        <td>      
          <%= ff.text_field :asterisk, :placeholder=>"*", class: "form-control" %>
        </td>
      </tr>
    
      <%end%>
    </table>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


