<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Number of Players:</strong>
  <%= @game.numPlay %>
</p>

<table class="table">
	<tr>
		<th>Player</th>
		<th>Place</th>
		<th>Score</th>
		<th>Correct</th>
		<th>*</th>
	</tr>
	<% @game.rounds.each do |round| %>
		<tr>
			<td><%= round.player.nickname %></td>
			<td><%= round.place %></td>
			<td><%= round.score %></td>
			<td><%= round.correct %></td>
			<td><%= round.asterisk %></td>
		</tr>
	<% end %>	
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
