<h1>Individual Rounds</h1>
<h3><%= @num_players %> Player Games</h3>
<div class="btn-group">
  <%= link_to "3 Player", rounds_path(num_players: '3', sort: params[:sort]), :class=>"btn" %>
  <%= link_to "4 Player", rounds_path(num_players: '4', sort: params[:sort]), :class=>"btn" %>
  <%= link_to "5 Player", rounds_path(num_players: '5', sort: params[:sort]), :class=>"btn" %>
</div>
<table id="rounds-index-table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= link_to 'Score', rounds_path(sort: "score", num_players: @num_players) %></th>
      <th><%= link_to 'Place', rounds_path(sort: "place", num_players: @num_players) %></th>
      <th><%= link_to 'Correct', rounds_path(sort: "correct", num_players: @num_players) %></th>
      <th><%= link_to 'Tricks Taken', rounds_path(sort: "taken", num_players: @num_players) %></th>
      <th><%= link_to 'Asterisk', rounds_path(sort: "asterisk", num_players: @num_players)%></th>
      <th>Player</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <% count = 0 %>
  <tbody>
    <% @rounds.each do |round| %>
    <% count = count + 1 %>
      <tr>
        <!--<td><%= round.game_id %></td>-->
        <td><%= count %></td>
        <td><%= link_to round.score, round.game %></td>
        <td><%= round.place %></td>
        <td><%= round.correct %></td>
        <td><%= round.score - (round.correct*10) %></td>
        <td><%= round.asterisk %></td>
        <td><%= link_to round.player.nickname, round.player %></td>
        <td><%= link_to round.game.date.strftime("%B %d, %Y"), round.game %></td>
        <!--<td><%= link_to 'Show', round %></td>-->
        <!--<td><%= link_to 'Edit', edit_round_path(round) %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_round_path %>
