<% game_rounds = @game.rounds.sort_by{|e| e[:place]} %>




<p>
  
  <h3><%= @game.date.strftime("%B %d, %Y") %></h3>
</p>

<p>
  
  <h4><%= @game.numplay %> Player Game</h4>
  <% if @game.backwards %>
  	<span class="label label-warning">Backwards</span>
  <% end %>
  <% if @game.notrump %>
  	<span class="label label-warning">No Trump</span>
  <% end %><br><br>
  <%= link_to 'Edit', edit_game_path(@game) %>
</p>

<table id="game_show_table" class="table tablesorter table-striped table-hover">
	<tr>
		<th>Place</th>
		<th>Player</th>		
		<th>Score</th>
		<th>Correct</th>
		<th>Tricks Taken</th>
		<th>*</th>
	</tr>
	<% game_rounds.each do |round| %>
		<tr>
			<td><%= round.place %></td>
			<td><%= round.player.nickname %></td>			
			<td><%= round.score %></td>
			<td><%= round.correct %></td>
			<td><%= round.score - (10*round.correct) %></td>
			<td><%= round.asterisk %></td>
		</tr>
	<% end %>	
</table>

<% if @game.description != nil and @game.description != "" %>
	<p>
		<h4>Notes:</h4>
		<%= @game.description %>
	</p>
<% end %>

