<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @round.game_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @round.score %>
</p>

<p>
  <strong>Place:</strong>
  <%= @round.place %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @round.correct %>
</p>

<p>
  <strong>Asterisk:</strong>
  <%= @round.asterisk %>
</p>

<p>
  <strong>Player:</strong>
  <%= @round.player_id %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
