<h1>Players</h1>

<div class="btn-group">  
  <%= link_to 'New Player', new_player_path, :class=>"btn btn-success"  %>
  <%= link_to 'Active Players', players_path, :class=>"btn btn-success" %>
  <%= link_to 'All Players', players_path(all_players: true), :class=>"btn btn-success" %>
  <%= link_to 'Show Teams', players_path(show_teams: true), :class=>"btn btn-success"  %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Nickname</th>
      <th>Games Played</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.firstname, player %></td>
        <td><%= link_to player.lastname, player %></td>
        <td><%= link_to player.nickname, player %></td>
        <td><%= player.games_played %></td>      
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_player_path(player) %></td>
        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


