<h1>
	<% if @player.team %>
		Team
	<% end %>
	<%=@player.firstname %> "<%=@player.nickname%>" <%=@player.lastname%></h1>


<% if(@three_player_stats[:total_games] > 0 or @four_player_stats[:total_games] > 0 or @five_player_stats[:total_games] > 0 ) %>

	<table class="table table-striped"%>
		<thead>
			<tr>
				<th>Players</th>
				<th>Games Played</th>
				<th>Percentage</th>
				<th>Wins</th>
				<th>Losses</th>			
				<th>Hi Score</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>3 Players</td>
				<td><%=@three_player_stats[:total_games] %></td>
				<td><%=number_with_precision(@three_player_stats[:percentage], :precision=>3) %></td>
				<td><%=@three_player_stats[:wins] %></td>
				<td><%=@three_player_stats[:total_games] - @three_player_stats[:wins] %></td>
				<td><%=@three_player_stats[:max] %></td>
			</tr>
			<tr>
				<td>4 Players</td>
				<td><%=@four_player_stats[:total_games] %></td>
				<td><%=number_with_precision(@four_player_stats[:percentage], precision: 3) %></td>
				<td><%=@four_player_stats[:wins] %></td>
				<td><%=@four_player_stats[:total_games] - @four_player_stats[:wins] %></td>
				<td><%=@four_player_stats[:max] %></td>
			</tr>
			<tr>
				<td>5 Players</td>
				<td><%=@five_player_stats[:total_games] %></td>
				<td><%=number_with_precision(@five_player_stats[:percentage], precision: 3) %></td>
				<td><%=@five_player_stats[:wins] %></td>
				<td><%=@five_player_stats[:total_games] - @five_player_stats[:wins] %></td>
				<td><%=@five_player_stats[:max] %></td>
			</tr>
		</tbody>

	</table>


	<h3>Game Log</h3>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th># of Players</th>
				<th>Score</th>
				<th>Place</th>
				<th>Correct</th>
				<th>Tricks Taken</th>
				<th>Asterisk</th>
				<th>Winner</th>
			</tr>
		</thead>
		<tbody>

		<% for round in @rounds_all %>
			<tr>
				<td><%= link_to round.game.date.strftime("%B %d, %Y"), round.game %></td>
				<td><%=round.game.numplay%></td>
				<td><%= link_to round.score, round.game %></td>
				<td><%=round.place %></td>
				<td><%=round.correct %></td>
				<td><%=round.tricks_taken %></td>
				<td><%=round.asterisk %></td>
				<td><%= link_to round.game.winner_by_nickname, round.game.winner%></td>
			</tr>
		<% end %>

		</tbody>
	</table>

<% else %>
	<br><Br>
	<h3>No Games Played yet :(</h3>
<% end %>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
