

<h1><%=@num_players %> Player Standings</h1>

<div class="btn-group">
  <%= link_to "3 Player", standings_players_path(num_players: '3'), :class=>"btn" %>
  <%= link_to "4 Player", standings_players_path(num_players: '4'), :class=>"btn" %>
  <%= link_to "5 Player", standings_players_path(num_players: '5'), :class=>"btn" %>
</div>
<table id ="standings_table" class="table tablesorter">
  <thead>
    <tr>
      <th>Player</th>
      <th>Games Played</th>
      <th>Win %</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>High Score</th>
    </tr>
  </thead>
  <tbody>
    <% @player_stats.each do |ps| %>
      <tr>
        <td><%=link_to ps[:nickname], ps[:player]  %></td>
        <td><%=ps[:total_games] %></td>
        <td><%=number_with_precision(ps[:percentage], :precision=>3)%></td>
        <td><%=ps[:wins]%></td>
        <td><%=ps[:total_games]-ps[:wins]%></td>
        <td><%=ps[:max]%></td>
      </tr>
    <% end%>
  </tbody>
</table>

